﻿@model Ejercicio2.Models.Partido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estadio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estadio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marcador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marcador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
